body, h1, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333
}

h1 {
  color: #007bff;
  text-align: center;
  margin-top: 20px;  
}

p {
    text-align: center;
    margin: 10px;
}
